@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  <p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 400;" })</p>
  @Html.LabelFor(model => model.MachineDetails)
  @Html.TextBoxFor(model => model.MachineDetails)
  <p>@Html.ValidationMessageFor(model => model.MachineDetails, "", new { @class = "text-danger", @style = "font-weight: 400;" })</p>

  <input type="submit" value="Add new machine"/>
}
<p>@Html.ActionLink("Show all installed machines", "Index")</p>