@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add new engineer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName) 
  <p>@Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger", @style = "font-weight: 400;" })</p>
  @Html.LabelFor(model => model.JobTitle)
  @Html.TextBoxFor(model => model.JobTitle)
  <p>@Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger", @style = "font-weight: 400;" })</p>

  <input type="submit" value="Add new engineer">
}
<p>@Html.ActionLink("Manage engineers", "Index")</p>